@model List<Telefon_Rehberi.Database.Personels>

@{
    ViewBag.Title = "Index";
}
@{
    Telefon_Rehberi.Database.Logins logonAdmin = (Telefon_Rehberi.Database.Logins)Session["LogonAdmin"];
}

    <style>

        .modal {
            position: fixed;
            top: 20%;
            left: 0%;
        }
    </style>
    <h2 style="margin-bottom:0px; text-align:center">Personel Listesi</h2>
    <hr class="col-md-offset-3 col-md-6" />

    <div>

        <table class="table table-condensed table-striped table-hover text-center">

            <thead>
                <tr>
                    <th class="text-center">Ad</th>
                    <th class="text-center">Soyad</th>
                    <th class="text-center">Telefon</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PersonelAdi</td>
                        <td>@item.PersonelSoyadi</td>
                        <td>0 @item.PersonelTelNo</td>

                        <td>
                            <a href="@Url.Action("Profil","AdminUI",new { id=item.Id })" class="btn btn-primary  ">Bilgi</a>
                            @if (logonAdmin != null)
                            {

                                <a href="@Url.Action("ProfileEdit", "AdminUI", new { id = item.Id })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-edit"></span>Düzenle
                                </a>
                                <button type="button" onclick="Delete('@Url.Action("Delete","AdminUI", new { id = item.Id })')" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Sil
                                </button>
                            }
                            else
                            {
                                <a href="@Url.Action("ProfileEdit", "AdminUI", new { id = item.Id })" class="btn btn-warning  disabled">
                                    <span class="glyphicon glyphicon-edit"></span>Düzenle
                                </a>

                                <a type="button" onclick="Delete('@Url.Action("Delete","AdminUI", new { id = item.Id })')" class="btn btn-danger disabled">
                                    <span class="glyphicon glyphicon-trash"></span> Sil
                                </a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />
        @if (logonAdmin == null)
        {
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top:20px;">
                    Bilgileri Güncellemek için <a href="~/AdminUI/Login" style="font-weight:bold">Admin</a> olarak giriş yapabilirsiniz!
                </div>
            </div>
            <hr />

        }
        <br />

    </div>


@if (TempData["resultInfo"] != null && TempData["resultInfo"] != "")
{


    @Html.Partial("InfoModal");

    <script>$('#exampleModalCenter').modal('show');</script>

}
@Html.Partial("ResultControl", "Silmek istediğinize emin misiniz?")


